<!DOCTYPE html>
<html>
  <head>
    <title>Data</title>
  </head>
  <body>
    <h1>Raw Data</h1>
    <ul>
    {{#each datas}}
      <li>{{description}} : {{amount}}</li>
    {{/each}}
    </ul>
  </body>
</html>