<!DOCTYPE html>
<html>
  <head>
    <title>Data</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <h1>Edit Data</h1>
    <ul>
    {{#each data}}
      <li>{{description}} : {{amount}}</li>
    {{/each}}
    </ul>
  </body>
</html>