
{{> header }}

<div class="container">
        <ul>
        {{#each users}}
          <li>{{name}} : {{couple}}</li>
        {{/each}}
        </ul>
        <a href="./data"><button>Data</button></a>
  </div>
  
{{> footer }}



