<!DOCTYPE html>
<html>
  <head>
    <title>Punt Club</title>
  </head>
  <body>
    <h1>Raro Punt Club</h1>
    <ul>
    {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
